header {
  width: 100vw;
  height: 10vh;
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 100px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: whitesmoke;
}
.headerLogo {
  height: 6vh;
}
